---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: lootchat-infrastructure
  namespace: flux-system
spec:
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: lootchat-infrastructure
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        [ci skip] Update image tags
        
        Automation: {{range .Changed.Changes}}{{println .}}{{end}}
    push:
      branch: main
  update:
    path: ./k8s
    strategy: Setters
